<%= current_user.email %>

<%= current_user.reservations %>


<% current_user.reservations.each do |reservation| %>

	<p class = 'reservation-dinnertime'>
		Time: <%= reservation.dinner_time %>
	</p>

	<p class = 'reservation-partysize'>
		Party Size: <%= reservation.party_size %>
	</p>

<% end %>